<!DOCTYPE html>
<html>
<head>
  <title>Certify</title>
  <%= stylesheet_link_tag    "certify/application", :media => "all" %>
  <%= javascript_include_tag "certify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
